<!DOCTYPE html>
<html>
	<%= render :partial => "/shared/head" %>
	<body id="appContent">
		<div  class="container">
			<%= render :partial => "/shared/header" %>
			<%= yield %>
			<%= render :partial => "/shared/footer" %>
		</div>
	</body>
</html>