<div id="control_panel_pv">
	<span>Panel de Control</span>
	<%= link_to 'Caracterizacion', {:action => :caracterizacion}, :remote => true%>
	<%= link_to 'Benchmarking Externo', {:action => :benchmarking_externo}, :remote => true%>
</div>
