<div id="div_menu_admin">
	<span id="span_left_text">Por cada practica de valor, usted puede... Por cada practica de valor, usted puede...Por cada practica de valor, usted puede...
		Por cada practica de valor, usted puede...Por cada practica de valor, usted puede...Por cada practica de valor, usted puede...</span>
</div>
<div id="div_content_admin">
	<div id="div_content_admin_change">
	<span>Lista Practicas de Valor</span>
	<table>
		<td>Activa?</td>
		<td>Nombre</td>
	</table>
	<% @value_practices_list.each do |value_practice| %>
		<div id="one_pv_div">

			<span class="value_practice_active_vaue"><%= value_practice.active%> </span>
			<span class="value_practice_name_value"><%= value_practice.name%></span>			
			<%= link_to 'Seleccionar', {:action => :edit, :id => value_practice.id}%>			
	<% end %>
		</div>	
	</div>
</div>

